<h1>Editing Procedimento</h1>

<%= render 'form', procedimento: @procedimento %>

<%= link_to 'Show', @procedimento, class: "btn btn-secondary" %> |
<%= link_to 'Back', procedimentos_path, class: "btn btn-secondary" %>
